<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitech.hr.dao.OrganStructDAO">
    <resultMap id="OrganStructResult" type="com.fitech.hr.model.OrganStruct">
        <result column="ORGAN_ID" property="organId" jdbcType="VARCHAR"/>
        <result column="PARE_ORGAN_ID" property="pareOrganId" jdbcType="VARCHAR"/>
        <result column="ORGAN_NAME" property="organName" jdbcType="VARCHAR"/>
        <result column="ORGAN_TYPE_CODE" property="organTypeCode" jdbcType="VARCHAR"/>
        <result column="ORGAN_NOTE" property="organNote" jdbcType="VARCHAR"/>
        <result column="ESTABLISH_DATE" property="establishDate" jdbcType="DATE"/>
        <result column="REVOKE_DATE" property="revokeDate" jdbcType="DATE"/>
        <result column="REVOKE_REASON" property="revokeReason" jdbcType="VARCHAR"/>
        <result column="HEAD_EMPLOYEE_ID" property="headEmployeeId" jdbcType="VARCHAR"/>
        <result column="UN_SOCIAL_CREDIT_CODE" property="unSocialCreditCode" jdbcType="VARCHAR"/>
        <result column="ORGAN_ADDRESS" property="organAddress" jdbcType="VARCHAR"/>
        <result column="CONTACT_NUMBER" property="contactNumber" jdbcType="VARCHAR"/>
        <result column="BASIC_DEPOSIT_ACCT" property="basicDepositAcct" jdbcType="VARCHAR"/>
        <result column="BASIC_DEPOSIT_BANK" property="basicDepositBank" jdbcType="VARCHAR"/>
        <result column="ORGAN_STATUS" property="organStatus" jdbcType="VARCHAR"/>
        <result column="CREATE_EMPLOYEE_ID" property="createEmployeeId" jdbcType="VARCHAR"/>
        <result column="MDY_EMPLOYEE_ID" property="mdyEmployeeId" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="DATE"/>
        <result column="MDY_TIME" property="mdyTime" jdbcType="DATE"/>
        <result column="POST" property="post" jdbcType="VARCHAR"/>
        <result column="FAX" property="fax" jdbcType="VARCHAR"/>
        <result column="ORGAN_LEVEL" property="organLevel" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectAllOrgan" resultMap="OrganStructResult">
        select * from hr_sys_organ
    </select>
</mapper>